<div class="d-flex flex-column justify-content-center align-items-center py-5">
  <img src="../images/email.png" alt="email">
  <span class="account-message">An email has been sent to your email adress. Go to your email to confirm the access to
    the creators features.</span>
  <div class="layout-buttons px-2">
    <a href="/" class="btn buttonred">Home page</a>
  </div>
</div>
