<div class="general-content">

<a href="/" class="btn btn-secondary buttonred">Home</a>
{{#if user.status}}
  {{#if user.creator}}
    <h3>You are a Creator</h3>
  {{else}}
  <h3> Want to become a creator? </h3>
  <form action="/profile" method="post">
    <button type="submit" class="btn btn-outline-success"> Become a creator </button>
  </form>
  {{/if}}
{{else}}
<h3>You need to confirm your account</h3>
{{/if}}
</div>