<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation email</title>
</head>
<body>
    <img src="../images/turisteo-logo.png" alt="Logo">
    <h3>Welcome {{user.username}}!!</h3>
    <p>Thanks for using Turisteo&copy;. </p>
    <span>Please confirm your account clicking on the following link:</span>
    <a href="https://{{url}}/auth/confirm/{{user.confirmationCode}}">Click here!</a>
</body>
</html>