{{#if user}}
<a href="/profile" class="btn btn-outline-primary">Profile</a>
<a href="/visit" class="btn btn-outline-primary">Visit Madrid</a>
{{/if}}

<h1>Welcome to {{title}}</h1>
<div class="index-img">
    <img src="../images/mapa-index.png" alt="Turisteo">
</div>
