<h1>Welcome to {{title}}</h1>
  <button id="pokeButton">Get Pokemon!</button>


<div id="map" style="height:500px"></div>
<script src="/javascripts/addMap.js"></script>
<script src="/javascripts/geolocalize.js"></script>
<script>
  window.route = {{{dataStr}}}
</script>