{{#if user.creator}}
  <h3>You are a Creator</h3>
{{else}}
<h3> Want to become a creator? </h3>
<form action="/creators" method="post">
  <button type="submit"> Become a creator </button>
</form>
{{/if}}