<h2>Create new route</h2>
<form action="/newroute" method="post">
  <div class="name">
    <label for="name">Route name:</label>
    <input type="text" name="name" id="name">
  </div>
  <br>
  <class class="route">
  </class>
</form>

<script>
  window.places = {{{placesStr}}}
</script>
<script src="/javascripts/select.js"></script>