<div id="map" class="mx-0 px-0"></div>
<section class="my-3">
{{#each routes}}
<div class="container-fluid">
  <div class="layout-buttons">
    <button id="{{this._id}}" class="btn buttonred" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{this.description}}">{{this.name}}</button>
  </div>
</div>
{{/each}}
</section>

<script>
  window.routes = {{{routesStr}}}
</script>
{{!-- <script src="/javascripts/popover.js"></script> --}}
<script src="/javascripts/addMap.js"></script>
<script src="/javascripts/geolocalize.js"></script>
<script src="/javascripts/renderRoute.js"></script>