<a href="/" class="btn btn-outline-primary">Home</a>
<h1>Visit Madrid:</h1>
{{#each routes}}
  <button id="{{this._id}}">{{this.name}}</button>
{{/each}}
<div id="map" style="height:500px"></div>
<script>
  window.routes = {{{routesStr}}}
</script>
<script src="/javascripts/addMap.js"></script>
<script src="/javascripts/geolocalize.js"></script>
<script src="/javascripts/renderRoute.js"></script>