.layout-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .buttonred {
      background: $red-color;
      margin-top: 4px;
    }
}
.general-content {
  padding: 20px;
}
.index-img {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 20px;
  .img{
    height: 90vh;
    width: 60vw;
  }
  
}

#map {
  width: 100vw;
  height: 550px;
  margin-left: -20px;

}

.descriptionbox {
    background: $red-color; 
    border-radius: 3px;
    height: 550px;
    width: 40vw;
  }