/*PALETA COLORES*/
$red-color: #983b45;
$green-color: #1d8052;
$yellow-color: #fff4e4;
$beige-color: #fdfdfd;
$grey-color: #86929f;
$black-color: #222021;

/*FONTS*/
$font-family: 'Arial' ,'Questrial', sans-serif;


