/*
Almacena todo lo que vayas a rehusar...
Colores, fuentes, alturas...
*/

/*PALETA COLORES*/
$red-color: #983b45;
$yellow-color: #f7daae;
$beige-color: #f3eee4;
$grey-color: #86929f;
$black-color: #222021;


